<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <timestamp key="date" datePattern="yyyy-MM-dd_HH-mm-ss" timeZone="Europe/Berlin"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

</configuration>
